# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Folders
01_Catalogue/
NRU_share/
tmp/
PN000002/
PN000003/
PN000004/
PN000006/
PN000009/